/*background-color: #242424;*/

* {
  font-family: ubuntu;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-image: url("../public/BackgroundBlue.png");
  background-size:cover;
}

.logoCode {
  width: 50px;
}

.navContainer {
  background: #11021f;
  font-size: 20px;
  border: solid 2px #ff2a00;
  border-radius: 100px;
  padding: 5px 40px;
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
  align-items: center;
}

.navContainer > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}

a {
  color: white;
}