/*background-color: #242424;*/

* {
  font-family: ubuntu;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-image: url("../public/BackgroundBlue.png");
  background-size: cover;
}

.navContainer {
  background: #11021f;
  font-size: 20px;
  border: solid 2px #ff2a00;
  border-radius: 100px;
  padding: 5px 40px;
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
  align-items: center;
}

.logoCode {
  display: flex;
  width: 50px;
}

.navContainer > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}

a {
  color: white;
}

.message {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(242, 5, 5, 0.667);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.message.show {
  opacity: 1;
}
